<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NurseryAlertServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <NurseryAlertServer.Properties.Settings>
            <setting name="ProjectionBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionMasterFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ProjectionFadeTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ProjectionOutlineSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectionOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionMasterFont" serializeAs="String">
                <value>Calibri, 50.25pt, style=Bold</value>
            </setting>
            <setting name="ProjectionMasterLineSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TallyComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>C:\Program Files (x86)\CSCNursery\baby_cry_short.wav</value>
            </setting>
            <setting name="CasparCG_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CasparCG_Port" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="Graphic_Channel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Graphic_Layer" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Caspar_Template" serializeAs="String">
                <value>NUMBERTEMPLATE</value>
            </setting>
            <setting name="Graphic_Text_Field" serializeAs="String">
                <value>f0</value>
            </setting>
        </NurseryAlertServer.Properties.Settings>
    </userSettings>
</configuration>
