<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NurseryAlertServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <NurseryAlertServer.Properties.Settings>
            <setting name="ProjectionBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionMasterFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ProjectionFadeTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ProjectionOutlineSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectionOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionMasterFont" serializeAs="String">
                <value>Calibri, 50.25pt, style=Bold</value>
            </setting>
            <setting name="ProjectionMasterLineSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TallyComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>C:\Program Files (x86)\CSCNursery\baby_cry_short.wav</value>
            </setting>
        </NurseryAlertServer.Properties.Settings>
    </userSettings>
</configuration>
